/DB
/node_modules
/public/css
/public/js
/public/img
/public/storage
/public/favicon.ico
/public/index.html
/public/storage
/public/*.gz
/storage/*.key
/vendor
/frontend/vue-hackernews-2
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
package-lock.json
*.psd